/* Add your custom styles here */
body {
  /* background: url('your-background-image_body.jpg') center/cover no-repeat; */
}
.login-form-container {
  margin: 150px auto;
  /* background: url('your-background-image.jpg') center/cover no-repeat; */
position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-family: Arial, sans-serif;
  max-width: 500px;
  padding: 20px;
  background: rgb(220, 223, 240);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgb(2, 2, 54);
}

/* Add your custom styles here */
/* Add your custom styles here */
/* Add your custom styles here */
.login-form-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  background: url('your-background-image_body.jpg') center/cover no-repeat;
  z-index: 9999; /* Adjust the z-index as needed */
}



.red_button
{
  background-color: rgb(80, 3, 3);
  margin-left: 5px;
  color: #fff;
  margin-top: 10px;
          padding: 5px 14px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s, transform 0.2s;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
}

.back_Link
{
  text-decoration: none;
  background-color: rgb(80, 3, 3);
  margin: 5px;
  color: #fff;
  margin-top: 100px;
          padding: 15px 54px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s, transform 0.2s;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
}
.h2_class
{
  padding: 20px;
}



/* Rest of your CSS */
